* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: #581845;
}

.container {
  width: 30%;
  height: auto;
  position: relative;
}
.container img {
  width: 100%;
  height: 100%;
}

.hour,
.min,
.sec {
  background-color: black;
  position: absolute;
  transform-origin: bottom;
}
.hour {
  width: 0.9%;
  height: 23.5%;
  top: 25.5%;
  left: 49.25%;
}
.min {
  width: 0.8%;
  height: 26.5%;
  top: 23%;
  left: 49.25%;
}
.sec {
  width: 0.7%;
  height: 31.5%;
  top: 18.5%;
  left: 49.25%;
}
